
/* main banner sizing */

body{
    background-color:rgb(139, 184,238, 0.1);
    font-family: 'Nanum Gothic Coding', monospace;
    
}

.mainContainer{
    display:grid;
    grid-gap: 20px;
    place-items: center;
    
}



.mainBanner{
    object-fit: scale-down;
    margin: 25px;
    opacity: 1;
    display: inline-block;
    
}

.welcomeMent{
    margin-top: 200px;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 25px
}


.circleBtn{
    margin-top: 60px;
    margin-bottom: 120px;
    display: inline-block;
    

}

.button1{
    margin: 40px;
    width: 300px;
    height: 300px;
    display: inline-block;
    background-color:rgb(238, 232, 139,0.6);
    color: black;
    border-radius: 100%;
    outline: 0;
    border: 0;
    font-family: 'Nanum Gothic Coding';
    font-size: 45px;

}

.button2{
    margin: 40px;
    width: 300px;
    height: 300px;
    display: inline-block;
    background-color:rgb(238, 232, 139,0.6);
    color: black;
    border-radius: 100%;
    outline: 0;
    border: 0;
    font-size: 45px;

}

.button3{
    margin: 40px;
    width: 300px;
    height: 300px;
    display: inline-block;
    background-color: rgb(238, 232, 139, 0.6);
    color: black;
    border-radius: 100%;
    outline: 0;
    border: 0;
    font-size: 45px;

}


.career{
    margin: 300px ;
    box-sizing: border-box;
  }

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }


 /* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 15px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 55%;
    margin-left: -3px;
    margin-right: 10px;
  }

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    border :aqua 10vh;
  }

  /* The circles on the timeline */
.content::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: 0px;
    background-color: rgb(139, 184,238, 0.5);
    border: 4px solid rgb(238, 232, 139,0.6);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  
  .containerRight{

    left:-50%
  }